<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Page</title>
</head>
<body>
<h1>Modify Page</h1>
<hr />
<form method="post">
    <fieldset>
        <legend>Modify Data</legend>
        <table>
            <tr>
                <td><label>genre</label></td>
                <td><input type="text" name="genre" value="<%= data.genre %>" /></td>
            </tr>
            <tr>
                <td><label>name</label></td>
                <td><input type="text" name="name" value="<%= data.name %>"/></td>
            </tr>
            <tr>
                <td><label>writer</label></td>
                <td><input type="text" name="writer" value="<%= data.writer %>"/></td>
            </tr>
        </table>
        <input type="submit">
    </fieldset>
</form>
</body>
</html>