html
    head
        title Pug example page
        body
            h1 Hello Pug module
            h2 Nice to meet you
            a(href="https://github.com/pugjs/pug", data-set="multiple Attribute") Github for pug

