html
    head
        title Pug example page
        style.
            body {
                color: lightskyblue;
            }

            h1 {
                color: blue;
            }
        script.
            let name = prompt("What is your name", "");
            alert("I'm " + name);
        body
            // annotation
            #header
            h1 Hello Pug module
            h2 Nice to meet you
            .url
            a(href="https://github.com/pugjs/pug", data-set="multiple Attribute") Github for pug
            ul
                li Item A
                li Item B
                li Item C



